[Unit]
Description=PipBoy Backend Service
After=network.target

[Service]
User=vaultdweller
WorkingDirectory=/home/vaultdweller/actions-runner/_work/pipboy/pipboy/app

Environment=ASPNETCORE_URLS=http://0.0.0.0:5000
Environment=DOTNET_ROOT=/home/vaultdweller/.dotnet
ExecStart=/home/vaultdweller/.dotnet/dotnet Pipboy.dll
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target