#root{
  width:100vw;
  height:100vh;
  margin: 0;
  padding: 0;
}

.pipboy-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: var(--crt-curve);
  overflow: hidden;
}

.pip-btn {
  background: transparent;
  border: 1px solid var(--pip-green);
  color: var(--pip-green);
  font-family: 'Monofonto', monospace;
  padding: 5px 15px;
  cursor: pointer;
  text-transform: uppercase;
}

.pip-btn:active {
  background: var(--pip-green);
  color: var(--pip-bg);
}

/* The Scanline Overlay */
.pipboy-container::before {
  --pip-scanline: rgba(0, 20, 0, 0.2);

  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(
    var(--pip-scanline) 50%,
    rgba(18, 16, 16, 0) 50%
  );
  background-size: 100% 4px;
  /* Adjust thickness here */
  z-index: 10;
  pointer-events: none;
  /* Allows clicks to pass through to buttons */
}

/* Subtle Screen Flicker */
@keyframes flicker {
  0% {
    opacity: 0.985;
  }

  5% {
    opacity: 0.995;
  }

  10% {
    opacity: 0.98;
  }

  15% {
    opacity: 0.99;
  }

  100% {
    opacity: 1;
  }
}

.crt-flicker {
  animation: flicker 0.15s infinite;
}