@font-face{
  font-family: 'Monofonto';
  src: url('./assets/fonts/monofonto.ttf') format('truetype');
}

:root {
  --pip-green: #1aff1a;
  --pip-green-dim: rgba(26, 255, 26, 0.3);
  --pip-bg: #050a05;
  --pip-scanline: rgba(18, 16, 16, 0.1);
  --crt-curve: radial-gradient(circle, transparent 60%, rgba(0,0,0,0.4) 100%);
}

body {
  margin: 0;
  background-color: var(--pip-bg);
  color: var(--pip-green);
  font-family: 'Monofonto','Courier New', Courier, monospace; /* Placeholder for a retro font */
  text-transform:uppercase;
  letter-spacing: 1px;
  overflow: hidden; /* No scrollbars on the Pi */
}